.oktell_panel.show_right {
    right: 0px !important;

    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.oktell_panel.hide_right {
    right: -281px !important;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.oktell_panel.show_t_right {
    -webkit-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    -webkit-transform: translate(-281px,0px);
    -moz-transform: translate(-281px,0px);
    -o-transform: translate(-281px,0px);
    -ms-transform: translate(-281px,0px);
    transform: translate(-281px,0px);

    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.oktell_panel.hide_t_right {
    -webkit-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.oktell_panel.show_left {
    /*-webkit-transform-origin: 0px 0px;*/
    /*transform-origin: 0px 0px;*/
    /*-webkit-transform: translate(-281px,0px);*/
    /*-moz-transform: translate(-281px,0px);*/
    /*-o-transform: translate(-281px,0px);*/
    /*-ms-transform: translate(-281px,0px);*/
    /*transform: translate(-281px,0px);*/
    left: 0px !important;

    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.oktell_panel.hide_left {
    /*-webkit-transform-origin: 0px 0px;*/
    /*transform-origin: 0px 0px;*/
    /*-webkit-transform: translate(0px,0px);*/
    /*-moz-transform: translate(0px,0px);*/
    /*-o-transform: translate(0px,0px);*/
    /*-ms-transform: translate(0px,0px);*/
    /*transform: translate(0px,0px);*/
    left: -281px !important;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.oktell_panel .m_form.b_error {
    z-index: 4;
}

.oktell_panel .selected_text {
    padding: 0 !important;
    margin: 0 !important;
}
