<div class="oktell_panel_popup" style="display: none;">
	<div class="m_popup_staff">
        <div class="m_popup_data">
            <header>
                <div class="h_header_bg">
                    <i class="o_close"></i>
                    <h2>{{title}}</h2>
                </div>
            </header>
            <div class="b_content">
                <div class="b_abonent">
                    <span data-bind="text: name"></span>&nbsp;
                    <span class="g_light" data-bind="textPhone: number"></span>
                </div>
            </div>
            <div class="footer">
                <button class="oktell_panel_btn btn--success btn--large btn--take_phone j_pickup">
                    <i></i>{{goPickup}}
                </button>
				<!--TODO перевод кнопки и картинку в стили-->
				<button class="oktell_panel_btn btn--large btn--success j_answer">
					<i></i>{{answer}}
				</button>
                <button class="oktell_panel_btn btn--large j_close_action">{{hide}}</button>
                <button class="oktell_panel_btn btn--large btn--danger j_abort_action"><i></i>{{reject}}</button>
            </div>
        </div>
    </div>
</div>