<div class="oktell_panel_popup">
	<div class="m_popup_staff">
        <header>
            <div class="h_header_bg">
                <i class="o_close"></i>
                <h2>Входящий вызов</h2>
            </div>
        </header>
        <div class="b_content">
            <span data-bind="text: name">Ggbljasd jgskdfgjk</span>
            <span class="g_light" data-bind="textPhone: number">151</span>
            <!--<div style="height: 1px; margin-bottom: 20px; background-color: #e3e3e3; clear: both;"></div>
            <div class="b_footer" style="float: left; padding-top: 9px; font-size: 17px; padding-right: 10px;">

            </div>-->
        </div>
        <footer>
            <div class="b_take_phone">
                <i></i>
                <span>Поднимите трубку</span>
            </div>
            <button class="btn m_big close_action" style="float: right;">Скрыть</button>
            <button class="btn m_big m_button_red j_abort_action" style="float: right;"><i></i>Отклонить</button>
        </footer>
    </div>
</div>