<div class="b_phone_keypad j_phone_keypad" style="display: none;">
	<div class="l_column_group">
		<div class="h_phone_keypad">
			<ul class="b_phone_panel">
				<li class="g_top_left g_first"><a href="1" class="g_button m_big">1</a></li>
				<li><a href="2" class="g_button m_big">2</a></li>
				<li class="g_top_right g_right"><a href="3" class="g_button m_big">3</a></li>
				<li class="g_float_celar g_first"><a href="4" class="g_button m_big">4</a></li>
				<li><a href="5" class="g_button m_big">5</a></li>
				<li class="g_right"><a href="6" class="g_button m_big">6</a></li>
				<li class="g_float_celar g_first"><a href="7" class="g_button m_big">7</a></li>
				<li><a href="8" class="g_button m_big">8</a></li>
				<li class="g_right"><a href="9" class="g_button m_big">9</a></li>
				<li class="g_bottom_left g_float_celar g_first"><a href="*" class="g_button m_big">&lowast;</a></li>
				<li class="g_bottom_center"><a href="0" class="g_button m_big">0</a></li>
				<li class="g_bottom_right g_right"><a href="#" class="g_button m_big">#</a></li>
			</ul>
		</div>
	</div>
</div>