<div class="b_phone_keypad j_phone_keypad" style="display: none;">
	<div class="l_column_group">
		<div class="h_phone_keypad">
			<ul class="b_phone_panel">
				<li class="g_top_left g_first">
					<button data-num="1" class="g_button m_big">1</button>
				</li>
				<li><button data-num="2" class="g_button m_big">2</button></li>
				<li class="g_top_right g_right"><button data-num="3" class="g_button m_big">3</button></li>
				<li class="g_float_celar g_first"><button data-num="4" class="g_button m_big">4</button></li>
				<li><button data-num="5" class="g_button m_big">5</button></li>
				<li class="g_right"><button data-num="6" class="g_button m_big">6</button></li>
				<li class="g_float_celar g_first"><button data-num="7" class="g_button m_big">7</button></li>
				<li><button data-num="8" class="g_button m_big">8</button></li>
				<li class="g_right"><button data-num="9" class="g_button m_big">9</button></li>
				<li class="g_bottom_left g_float_celar g_first"><button data-num="*" class="g_button m_big">&lowast;</button></li>
				<li class="g_bottom_center"><button data-num="0" class="g_button m_big">0</button></li>
				<li class="g_bottom_right g_right"><button data-num="#" class="g_button m_big">#</button></li>
			</ul>
		</div>
	</div>
</div>