.btn-group
    position: relative
    display: inline-block
    *display: inline
    *zoom: 1
    font-size: 0
    vertical-align: middle
    white-space: nowrap
    *margin-left: .3em

    &:first-child
        *margin-left: 0

    & + .btn-group
        margin-left: 5px

    & > .btn
        position: relative
        -webkit-border-radius: 0
        -moz-border-radius: 0
        border-radius: 0
        margin-right: 0

    & > .btn + .btn
        margin-left: -1px

    & > .btn
        font-size: 13px

    & > .btn-small
        font-size: 11.9px
        padding: 3px 6px 3px;
    & > .btn:first-child
        margin-left: 0
        border-radius(4px, topleft)
        border-radius(4px, bottomleft)

    & > .btn:last-child,
    & > .dropdown-toggle
        border-radius(4px, topright)
        border-radius(4px, bottomright)

    & > .btn.large:first-child
        margin-left: 0
        border-radius(6px, topleft)
        border-radius(6px, bottomleft)

    & > .btn.large:last-child,
    & > .large.dropdown-toggle
        border-radius(6px, topright)
        border-radius(6px, bottomright)

    & > .btn:hover,
    & > .btn:focus,
    & > .btn:active,
    & > .btn.active
        z-index: 2
